{{- if .Values.licenseProxy.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.licenseProxy.namePrefix }}
  labels: &labels
{{ include "deepgram-self-hosted.labels" . | indent 4}}
    app: {{ .Values.licenseProxy.namePrefix }}
    {{- range $key, $val := .Values.licenseProxy.additionalLabels }}
    {{ $key }}: {{ $val | quote }}
    {{- end }}
  {{- with .Values.licenseProxy.additionalAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  selector:
    matchLabels:
       app: {{ .Values.licenseProxy.namePrefix }}
       {{ include "deepgram-self-hosted.selectorLabels" . }}
  replicas: {{ if .Values.licenseProxy.deploySecondReplica }}2{{ else }}1{{ end }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: {{ .Values.licenseProxy.updateStrategy.rollingUpdate.maxSurge }}
  template:
    metadata:
      labels: *labels
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/license-proxy/license-proxy.config.yaml") . | sha256sum }}
        {{- with $.Values.licenseProxy.additionalAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.global.pullSecretRef }}
      imagePullSecrets:
      - name: {{ .Values.global.pullSecretRef }}
      {{- end }}
      affinity:
        {{- toYaml .Values.licenseProxy.affinity | nindent 8 }}
      tolerations:
        {{- toYaml .Values.licenseProxy.tolerations | nindent 8 }}
      topologySpreadConstraints:
        {{- toYaml .Values.licenseProxy.topologySpreadConstraints | nindent 8 }}
      nodeSelector:
        {{- toYaml .Values.licenseProxy.nodeSelector | nindent 8 }}
      securityContext:
        {{- toYaml .Values.licenseProxy.securityContext | nindent 8 }}
      {{- if or .Values.licenseProxy.serviceAccount.create .Values.licenseProxy.serviceAccount.name }}
      serviceAccountName: {{ default (printf "%s-sa" .Values.licenseProxy.namePrefix) .Values.licenseProxy.serviceAccount.name }}
      {{- end }}

      volumes:
        - name: configmap-volume
          configMap:
            name: {{ .Values.licenseProxy.namePrefix }}-config
        {{- if .Values.licenseProxy.upstream.useBilling }}
        - name: working-config
          emptyDir: {}
        {{- end }}

      {{- if .Values.licenseProxy.upstream.useBilling }}
      initContainers:
        - name: config-render
          image: {{ .Values.global.initContainer.image.registry }}/{{ .Values.global.initContainer.image.repository }}:{{ .Values.global.initContainer.image.tag }}
          imagePullPolicy: {{ .Values.global.initContainer.image.pullPolicy }}
          command: ["/bin/sh"]
          args:
            - -c
            - sed "s|\${DEEPGRAM_LICENSE_KEY}|${DEEPGRAM_LICENSE_KEY}|g" /config/license-proxy.toml > /work/license-proxy.toml
          envFrom:
            - secretRef:
                name: {{ required "Missing Deepgram license key - see `global.deepgramLicenseSecretRef`" .Values.global.deepgramLicenseSecretRef }}
          volumeMounts:
            - name: configmap-volume
              mountPath: /config
            - name: working-config
              mountPath: /work
      {{- end }}

      containers:
      - name: {{ .Values.licenseProxy.namePrefix }}
        {{- with .Values.licenseProxy.containerSecurityContext }}
        securityContext:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        image: {{ .Values.licenseProxy.image.path }}:{{ .Values.licenseProxy.image.tag }}
        imagePullPolicy: {{ .Values.licenseProxy.image.pullPolicy }}
        envFrom:
        {{- if not .Values.licenseProxy.upstream.useBilling }}
        - secretRef:
            name: {{ required "Missing Deepgram self-hosted API key - see `global.deepgramSecretRef`" .Values.global.deepgramSecretRef }}
        {{- else }}
        - secretRef:
            name: {{ required "Missing Deepgram license key - see `global.deepgramLicenseSecretRef`" .Values.global.deepgramLicenseSecretRef }}
        {{- end }}
        env:
        {{- if .Values.licenseProxy.upstream.useBilling }}
        # License Proxy container requires DEEPGRAM_API_KEY env var, but it's not used for airgapped
        - name: DEEPGRAM_API_KEY
          value: "airgapped-mode"
        {{- end }}
        - name: DEEPGRAM_DEPLOYMENT_ORCHESTRATOR
          value: helm-{{ include "deepgram-self-hosted.chart" . }}
        command: [ "hermes" ]
        args: ["-v", "serve", "/etc/config/license-proxy.toml"]
        resources:
          requests:
            memory: "{{ .Values.licenseProxy.resources.requests.memory }}"
            cpu: "{{ .Values.licenseProxy.resources.requests.cpu }}"
          limits:
            memory: "{{ .Values.licenseProxy.resources.limits.memory }}"
            cpu: "{{ .Values.licenseProxy.resources.limits.cpu }}"
        volumeMounts:
        - name: "{{ if .Values.licenseProxy.upstream.useBilling }}working-config{{ else }}configmap-volume{{ end }}"
          mountPath: /etc/config
        ports:
        - name: primary
          containerPort: {{ .Values.licenseProxy.server.port }}
        - name: status
          containerPort: {{ .Values.licenseProxy.server.statusPort }}
        livenessProbe:
          tcpSocket:
            port: {{ .Values.licenseProxy.server.statusPort }}
          initialDelaySeconds: {{ .Values.licenseProxy.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.licenseProxy.livenessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.licenseProxy.livenessProbe.timeoutSeconds }}
        readinessProbe:
          exec:
            command:
            - sh
            - -c
            - curl --silent http://localhost:{{ .Values.licenseProxy.server.statusPort }}/v1/status | grep --quiet -e '^{.*\"state\"\:\"\(Connected\|TrustBased\)\".*}$'
          initialDelaySeconds: {{ .Values.licenseProxy.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.licenseProxy.readinessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.licenseProxy.readinessProbe.timeoutSeconds }}
{{- end -}}
