{{- $engineTypes := list }}
{{- if .Values.agent.enabled }}
{{- $engineTypes = list "agent-speech-to-text" "agent-text-to-speech" "agent-end-of-turn" }}
{{- else }}
{{- $engineTypes = list "" }}
{{- end }}
{{- range $type := $engineTypes }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $.Values.engine.namePrefix }}{{- if $type }}-{{ $type }}{{- end }}
  labels: &labels
{{ include "deepgram-self-hosted.labels" $ | indent 4}}
    app: {{ $.Values.engine.namePrefix }}
    {{- if $type }}
    engine-type: {{ $type }}
    {{- end }}
    {{- range $key, $val := $.Values.engine.additionalLabels }}
    {{ $key }}: {{ $val | quote }}
    {{- end}}
  {{- with $.Values.engine.additionalAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  selector:
    matchLabels:
      app: {{ $.Values.engine.namePrefix }}
      {{- if $type }}
      engine-type: {{ $type }}
      {{- end }}
      {{ include "deepgram-self-hosted.selectorLabels" $ }}
  {{- if not $.Values.scaling.auto.enabled }}
  {{- if $.Values.agent.enabled }}
  replicas: {{ index $.Values.scaling.replicas.engine $type | default 1 }}
  {{- else }}
  replicas: {{ $.Values.scaling.replicas.engine }}
  {{- end }}
  {{- end }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: {{ $.Values.engine.updateStrategy.rollingUpdate.maxUnavailable }}
      maxSurge: {{ $.Values.engine.updateStrategy.rollingUpdate.maxSurge }}
  template:
    metadata:
      labels: *labels
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/engine/engine.config.yaml") $ | sha256sum }}
        {{- with $.Values.engine.additionalAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      terminationGracePeriodSeconds: {{ $.Values.global.outstandingRequestGracePeriod }}
      {{- if $.Values.global.pullSecretRef }}
      imagePullSecrets:
      - name: {{ $.Values.global.pullSecretRef }}
      {{- end }}
      affinity:
        {{- toYaml $.Values.engine.affinity | nindent 8 }}
      tolerations:
        {{- toYaml $.Values.engine.tolerations | nindent 8 }}
      topologySpreadConstraints:
        {{- toYaml $.Values.engine.topologySpreadConstraints | nindent 8 }}
      nodeSelector:
        {{- toYaml $.Values.engine.nodeSelector | nindent 8 }}
      {{- with $.Values.engine.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end}}
      {{- if or $.Values.engine.serviceAccount.create $.Values.engine.serviceAccount.name }}
      serviceAccountName: {{ default (printf "%s-sa" $.Values.engine.namePrefix) $.Values.engine.serviceAccount.name }}
      {{- end }}

      {{- if $.Values.billing.enabled }}
      initContainers:
        - name: config-render
          image: {{ $.Values.global.initContainer.image.registry }}/{{ $.Values.global.initContainer.image.repository }}:{{ $.Values.global.initContainer.image.tag }}
          imagePullPolicy: {{ $.Values.global.initContainer.image.pullPolicy }}
          command: ["/bin/sh"]
          args:
            - -c
            - sed "s|\${DEEPGRAM_LICENSE_KEY}|${DEEPGRAM_LICENSE_KEY}|g" /config/engine.toml > /work/engine.toml
          envFrom:
            - secretRef:
                name: {{ required "Missing Deepgram license key - see `global.deepgramLicenseSecretRef`" $.Values.global.deepgramLicenseSecretRef }}
          volumeMounts:
            - name: configmap-volume
              mountPath: /config
            - name: working-config
              mountPath: /work
      {{- end }}

      containers:
      - name: {{ $.Values.engine.namePrefix }}{{- if $type }}-{{ $type }}{{- end }}
        {{- with $.Values.engine.containerSecurityContext }}
        securityContext:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        image: {{ $.Values.engine.image.path }}:{{ $.Values.engine.image.tag }}
        imagePullPolicy: {{ $.Values.engine.image.pullPolicy }}
        {{- if gt (len $.Values.engine.lifecycle.postStart.command) 0 }}
        lifecycle:
          postStart:
            exec:
              command: {{ toJson $.Values.engine.lifecycle.postStart.command }}
        {{- end }}
        envFrom:
        {{- if not $.Values.billing.enabled }}
        - secretRef:
            name: {{ required "Missing Deepgram self-hosted API key - see `global.deepgramSecretRef`" $.Values.global.deepgramSecretRef }}
        {{- else }}
        - secretRef:
            name: {{ required "Missing Deepgram license key - see `global.deepgramLicenseSecretRef`" $.Values.global.deepgramLicenseSecretRef }}
        {{- end }}
        env:
        {{- if $.Values.billing.enabled }}
        # Engine container requires DEEPGRAM_API_KEY env var, but it's not used for airgapped
        - name: DEEPGRAM_API_KEY
          value: "airgapped-mode"
        {{- end }}
        - name: DEEPGRAM_DEPLOYMENT_ORCHESTRATOR
          value: helm-{{ include "deepgram-self-hosted.chart" $ }}
        {{- if le (int $.Values.engine.resources.requests.gpu) 0 }}
        - name: NVIDIA_VISIBLE_DEVICES
          value: "void"
        {{- end }}
        {{- if $.Values.aura2.enabled }}
        {{- if $.Values.aura2.english.enabled }}
        - name: IMPELLER_AURA2_MAX_BATCH_SIZE
          value: "{{ $.Values.aura2.english.maxBatchSize }}"
        - name: IMPELLER_AURA2_T2C_UUID
          value: "{{ $.Values.aura2.english.t2cUuid }}"
        - name: IMPELLER_AURA2_C2A_UUID
          value: "{{ $.Values.aura2.english.c2aUuid }}"
        - name: CUDA_VISIBLE_DEVICES
          value: "{{ $.Values.aura2.english.cudaVisibleDevices }}"
        {{- else if $.Values.aura2.spanish.enabled }}
        - name: IMPELLER_AURA2_MAX_BATCH_SIZE
          value: "{{ $.Values.aura2.spanish.maxBatchSize }}"
        - name: IMPELLER_AURA2_T2C_UUID
          value: "{{ $.Values.aura2.spanish.t2cUuid }}"
        - name: IMPELLER_AURA2_C2A_UUID
          value: "{{ $.Values.aura2.spanish.c2aUuid }}"
        - name: CUDA_VISIBLE_DEVICES
          value: "{{ $.Values.aura2.spanish.cudaVisibleDevices }}"
        {{- else if $.Values.aura2.polyglot.enabled }}
        - name: IMPELLER_AURA2_MAX_BATCH_SIZE
          value: "{{ $.Values.aura2.polyglot.maxBatchSize }}"
        - name: IMPELLER_AURA2_T2C_UUID
          value: "{{ $.Values.aura2.polyglot.t2cUuid }}"
        - name: IMPELLER_AURA2_C2A_UUID
          value: "{{ $.Values.aura2.polyglot.c2aUuid }}"
        - name: CUDA_VISIBLE_DEVICES
          value: "{{ $.Values.aura2.polyglot.cudaVisibleDevices }}"
        {{- end }}
        {{- end }}
        {{- with $.Values.engine.extraEnv }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        command: [ "impeller" ]
        args: ["-v", "serve", "/etc/config/engine.toml"]
        resources:
          requests:
            memory: "{{ $.Values.engine.resources.requests.memory }}"
            cpu: "{{ $.Values.engine.resources.requests.cpu }}"
            {{- if gt (int $.Values.engine.resources.requests.gpu) 0 }}
            nvidia.com/gpu: {{ $.Values.engine.resources.requests.gpu }}
            {{- end }}
          limits:
            {{- if $.Values.engine.resources.limits.memory }}
            memory: "{{ $.Values.engine.resources.limits.memory }}"
            {{- end }}
            {{- if $.Values.engine.resources.limits.cpu }}
            cpu: "{{ $.Values.engine.resources.limits.cpu }}"
            {{- end }}
            {{- if gt (int $.Values.engine.resources.limits.gpu) 0 }}
            nvidia.com/gpu: {{ $.Values.engine.resources.limits.gpu }}
            {{- end }}
        volumeMounts:
        - name: "{{ if $.Values.billing.enabled }}working-config{{ else }}configmap-volume{{ end }}"
          mountPath: /etc/config
        - name: models-volume
          mountPath: /models
        ports:
        - name: primary
          containerPort: {{ $.Values.engine.server.port }}
        - name: metrics
          containerPort: {{ $.Values.engine.metricsServer.port }}
        startupProbe:
          tcpSocket:
            port: {{ $.Values.engine.server.port }}
          periodSeconds: {{ $.Values.engine.startupProbe.periodSeconds }}
          failureThreshold: {{ $.Values.engine.startupProbe.failureThreshold }}
        livenessProbe:
          tcpSocket:
            port: {{ $.Values.engine.server.port }}
          initialDelaySeconds: {{ $.Values.engine.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ $.Values.engine.livenessProbe.periodSeconds }}
          failureThreshold: {{ $.Values.engine.livenessProbe.failureThreshold }}
        readinessProbe:
          tcpSocket:
            port: {{ $.Values.engine.server.port }}
          initialDelaySeconds: {{ $.Values.engine.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ $.Values.engine.readinessProbe.periodSeconds }}
          failureThreshold: {{ $.Values.engine.readinessProbe.failureThreshold }}

      volumes:
      - name: configmap-volume
        configMap:
          name: {{ $.Values.engine.namePrefix }}{{- if $type }}-{{ $type }}{{- end }}-config
      {{- if $.Values.billing.enabled }}
      - name: working-config
        emptyDir: {}
      {{- end }}
      - name: models-volume
        persistentVolumeClaim:
          {{- $customClaimEnabled := $.Values.engine.modelManager.volumes.customVolumeClaim.enabled }}
          {{- $customClaimName := $.Values.engine.modelManager.volumes.customVolumeClaim.name }}
          {{- $awsEfsEnabled := $.Values.engine.modelManager.volumes.aws.efs.enabled }}
          {{- $gcpGpdEnabled := $.Values.engine.modelManager.volumes.gcp.gpd.enabled }}

          {{- $enabledCount := (int $customClaimEnabled) | add (int $awsEfsEnabled) | add (int $gcpGpdEnabled) }}

          {{- if eq $enabledCount 0 }}
          {{- fail "Error: At least one of customVolumeClaim.enabled, aws.efs.enabled, or gcp.gpd.enabled must be set to true." }}
          {{- else if gt $enabledCount 1 }}
          {{- fail "Error: Only one of customVolumeClaim.enabled, aws.efs.enabled, or gcp.gpd.enabled can be set to true." }}
          {{- end }}

          {{- if $customClaimEnabled }}
            {{- if not $customClaimName }}
            {{- fail "Error: customVolumeClaim.name must be set when customVolumeClaim.enabled is true." }}
            {{- else }}
          claimName: {{ $customClaimName }}
            {{- end }}
          {{- else if $awsEfsEnabled }}
          claimName: {{ $.Values.engine.modelManager.volumes.aws.efs.namePrefix }}-aws-efs-pvc
          {{- else if $gcpGpdEnabled }}
          claimName: {{ $.Values.engine.modelManager.volumes.gcp.gpd.namePrefix }}-gcp-gpd-pvc
          {{- end }}
{{- end }}
