{{- if .Values.engine.modelManager.volumes.aws.efs.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.engine.modelManager.volumes.aws.efs.namePrefix }}-aws-efs-pvc
  labels:
{{ include "deepgram-self-hosted.labels" . | indent 4}}
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: {{ default (printf "%s-aws-efs-sc" .Values.engine.modelManager.volumes.aws.efs.namePrefix) .Values.engine.modelManager.volumes.aws.efs.storageClass.name }}
  resources:
    requests:
      storage: 5Gi
{{- end }}
