{{- if and .Values.engine.modelManager.volumes.aws.efs.enabled .Values.engine.modelManager.volumes.aws.efs.storageClass.create }}
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ default (printf "%s-aws-efs-sc" .Values.engine.modelManager.volumes.aws.efs.namePrefix) .Values.engine.modelManager.volumes.aws.efs.storageClass.name }}
  labels:
{{ include "deepgram-self-hosted.labels" . | indent 4}}
provisioner: efs.csi.aws.com
{{- end }}
